.main-container {
  display: grid;
  grid-template-columns: 55% 24% 21%;
  grid-template-rows: auto;
  grid-template-areas: "form-area side1-area side2-area"
                       "form-area side1-area side3-area"
                       "wapp-area wapp-area  wapp-area";
  grid-auto-flow: row;
  grid-row-gap: 0.3rem;
  grid-column-gap: 0.3rem;
  width: 98%;
  margin-top: 4rem;
  margin-bottom: 0;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.side1-container {
  grid-area: side1-area;
  font-family: 'Overpass';
  padding: 1.4rem;
}
.side2-container {
  grid-area: side2-area;
  font-family: 'Overpass';
  padding: 1.4rem;
}
.side3-container {
  grid-area: side3-area;
  font-family: 'Overpass';
  padding: 1.4rem;
}
.side1-container, .side2-container, .side3-container, .whatsapp-container, .form-containter {
  background-color: #D5CEC2;
  border: 1px solid rgba(149, 196, 247, 0.2); 
  border-radius: 0.3rem;
  line-height: 150%;
  margin: 0 auto;
  width: 100%;
}
.side1-container h2, .side2-container h2, .side3-container h2 {
  text-align: center;
  font-weight: bold;
  font-size: medium;   /* font-s */
  width: 15rem;
  border: 3px solid rgb(70, 70, 121);
  border-radius: 0.3rem;
  padding: 0.4rem;
}
.side1-container .list-type, .side2-container .list-type, .side3-container .list-type  {
  list-style-type: square;
  color: rgb(70, 70, 121);
}
.list-item {
  color:black;
}
.whatsapp-container {
  grid-area: wapp-area;
  text-align: center;
  padding: 0.8rem;
}
.whatsapp-container .whatsapp {
  border-radius: 0.3rem;
}
.whatsapp-container .nota {
  font-style: italic;
  font-weight: 500;
}
.form-containter {
  grid-area: form-area;
  display: grid;
  grid-template-columns:  44%  54%;
  grid-auto-flow: row;
  padding: 1.2rem;
}
label  {
  display: block;
  font-family: 'Overpass';
  font-size: medium;  /* font-s */
  font-weight: 800;
  margin-bottom: 0.2rem;
}
input,
select,
textarea {
  border: 1px solid rgba(0, 123, 255, .2); 
  border-radius: 0.3rem;
  padding: 0.5rem;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
  outline: 3px solid rgb(70, 70, 121)
}
.form-containter div {
  margin-bottom: 1rem;
}
.form-containter .check {
  font-weight: 800;
  /* font-size: small; font-xs */
  grid-column-start: span 2;
  margin-bottom: 2rem;
}
.form-containter .check-recuadro {
   border: 3px solid rgb(70, 70, 121);
   border-radius: 0.3rem;
   padding: 0.5rem;
}
.form-containter .check-item {
  margin: auto 0.5rem;
}
.form-containter .estado {
  margin-top: 0.5rem;
  width: 15rem;
}
.form-containter .botones {
  border: none;
  border-radius: 0.25vw;
  color: white; 
  font-size: medium;   /* font-S */
  font-weight: bold;
  margin: 0 1.8rem 0 0;
  text-align: center;
}
input[type=submit] {
  background-color: rgba(0, 0, 0, 0.7);
}
input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
}
input[type=reset] {
  background-color: rgba(230, 33, 66, 0.7);
}
input[type=reset]:hover {
  background-color: rgba(230, 33, 66, 1);
  cursor: pointer;
}
.form-containter .botones-area {
  grid-column-start: 2;
  grid-row-start: auto;
  /* margin: auto auto; */
  margin-bottom: 0;
}
/* @media screen and ((max-width: 575.98px) or (max-width: 991.98px)) { */

@media screen and (max-width: 575.98px) {
  .main-container {
    grid-template-columns: 100%;
    grid-template-areas: "form-area" 
                         "wapp-area"
                         "side1-area"
                         "side2-area"
                         "side3-area" ;
    grid-row-gap: 1rem;
    width: 98%;
  }
  .form-containter {
    grid-template-columns: 98%;
    grid-row-start: auto;
  }
  .form-containter .check {
    grid-column-start: span 1;
    grid-row-start: auto;
  }
  .form-containter .check-recuadro {
    border: 3px solid rgb(70, 70, 121);
    border-radius: 0.3rem;
    padding: 0.2rem 0.3rem;
  }
  .form-containter .check-item {
    margin: auto 0.1rem;
  }
  .form-containter .botones-area {
    grid-column-start: 1;
    grid-row-start: auto;
  }
  .whatsapp-container {
    width: 100%;
  }
  .side1-container {
    font-size: large;   /* font-m */
  }
  .side1-container h2, .side2-container h2, .side3-container h2 {
    font-size: x-large;   /* font-xl */
    width: 20rem;
  }
}
@media screen and (min-width: 576px) and (max-width: 991.98px) {
  .main-container {
    grid-template-columns: 52% 46%;
    grid-template-areas:  "form-area  form-area" 
                          "wapp-area  wapp-area" 
                          "side1-area side2-area" 
                          "side1-area side3-area" ;
    grid-row-gap: 1rem;
    width: 98%;
  }
  .form-containter {
    grid-template-columns: 98%;
    grid-row-start: auto;
  }
  .form-containter .check {
    grid-column-start: span 1;
    grid-row-start: auto;
  }
  .form-containter .botones-area {
    grid-column-start: 1;
    grid-row-start: auto;
  }
  .whatsapp-container {
    width: 100%;
  }
  .side1-container h2, .side2-container h2, .side3-container h2 {
    width: 20rem;
  }
}
