
/**************************************************************************************************/
em {
    text-align: center;
    font-size: xx-large;  
    font-style: normal;
}
.main-container {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 24% 39% 34%;
    grid-template-rows: auto ;
    grid-template-areas: "saludo-area presentacion-area presentacion-area"
                         "saludo-area nosotras-area     playa-area"  
                         "somos-area  somos-area        somos-area"
                         "mapa-area   mapa-area         shop-area" ;
    text-align: justify;
    align-items: center;
    justify-content: center;
    width: 98%;
    margin: 0 auto;
    margin-top: 3rem;
}
.saludo-container{
    grid-area: saludo-area;
}
.presentacion-container{
    grid-area: presentacion-area;
    line-height: 150%;
    margin-top: 3rem;
}
.presentacion-container .titulo {
    text-align: center;
    font-size: xx-large;
    line-height: 120%;
}
.presentacion-container .subtitulo, .nosotras-container .subtitulo, .shop-container .subtitulo,
 .somos-container .subtitulo, .presentacion-container strong, .somos-container strong{
    font-size: large;
    font-weight: 800;
}
.nosotras-container{
   grid-area: nosotras-area;
   font-style: italic;
   line-height: 150%;
   margin-left: 2rem;
}

.playa-container{
    grid-area: playa-area;
    margin-left: 2rem;
    object-fit: contain;
    padding: 2rem;
}
.playa-container .img-oval {
    border-radius: 50%;
}
.somos-container {
   grid-area: somos-area;
   justify-content: center;
   margin: 0 auto;
}
.shop-container{
    grid-area: shop-area;
    margin-left: 2rem;
    line-height: 150%;
}
.shop-container .list-type {
    list-style-image: url(/img/bullet.png);
}
.mapa-container{
   grid-area: mapa-area;
}

 @media screen and (max-width: 575.98px) {
    .main-container {
        grid-template-columns: 100%;
        grid-template-areas: "saludo-area"        
                             "presentacion-area"
                             "nosotras-area"
                             "playa-area"
                             "somos-area"
                             "shop-area"
                             "mapa-area";
        width: 100%;
        margin-top: 0;
    } 
    .saludo-container{
        grid-area: saludo-area;
        margin: 0 auto;
    }
    .presentacion-container{
        grid-area: presentacion-area;
        margin: 0 auto;
        width: 98%;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    .nosotras-container{
        grid-area: nosotras-area;
        margin: 0 auto;
        width: 98%;
     }
     .playa-container{
         grid-area: playa-area;
         margin: 0 auto;
         padding: 0;
         margin-bottom: 2rem;
     }
     .playa-container .img-oval {
        border-radius: 50%;
    }  
    .shop-container{
         grid-area: shop-area;
         margin: 0 auto;
     }
     .mapa-container{
        margin: 0 auto;
     }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {
    .main-container {
        grid-template-columns: 49% 49%;
        grid-template-areas: "saludo-area        saludo-area"        
                             "presentacion-area  presentacion-area"
                             "nosotras-area      playa-area"
                             "somos-area         somos-area"
                             "mapa-area          shop-area";
         margin-top: 0;
    } 
    .saludo-container{
        grid-area: saludo-area;
        margin: 0 auto;
    }
    .presentacion-container{
        grid-area: presentacion-area;
        margin: 0 auto;
        width: 98%;
        margin-bottom: 2rem;
        padding-top: 2rem;
    }
    .nosotras-container{
        grid-area: nosotras-area;
        margin: 0 auto;
        width: 98%;
     }
     .playa-container{
         grid-area: playa-area;
         margin: 0 auto;
         margin-bottom: 2rem;
     }
     .playa-container .img-oval {
        border-radius: 50%;
    }  
    .shop-container{
         grid-area: shop-area;
         margin: 0 auto;
     }
     .mapa-container{
        margin: 0 auto;
        /* width: 100%;
        height: auto; */
     }
}

