
/**************************************************************************************************/
/* Main */
.main-container >  div  { 
    background-color: #d5cec2;
    padding: 20px;
    border-radius: 1rem;
}

/**************************************************************************************************/
/* Gestión de dispositivos */

/**************************************************************************************************/

