

/**************************************************************************************************/
/* Pagina */
/* .page-container {
    grid-gap: 2vw;      COMENTADO
} */

/**************************************************************************************************/
/* Encabezado */
/* header {
    border-top: 0.25vw ;    COMENTADO
} */

/**************************************************************************************************/
/* Main */
.main-container >  div  { 
    background-color: #d5cec2;
    padding: 20px;
    border-radius: 1rem;
}

/**************************************************************************************************/
/* Gestión de dispositivos */

/**************************************************************************************************/

