<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/tpo.css">
    <title>TPO</title>
</head>
<body>

    <main id="app">
    
        <h2>{{ titulo }}</h2>
        
        <h3>{{ titEquipo }}</h3>
        <ul>
            <li v-for="obj in equipo">
                {{ obj.participante }} ({{ obj.rol }})
            </li>
        </ul>
    
        <h3>{{ titTematica }}</h3>
        <ul>
            <li v-for="obj in tematica">
                {{ obj }}
            </li>
        </ul>
    
        <h3>{{ titRequisitos }}</h3>
        <ul>
            <li v-for="obj in requisitos">
                {{ obj }}
            </li>
        </ul>
    
        <h3>{{ titLinks }}</h3>
        <ul>
            <li v-for="obj in links">
                <a v-bind:href="obj.url">{{ obj.sitio }}</a>
            </li>
        </ul>
    
        <h3>{{ titFuera }}</h3>
        <ul>
            <li v-for="obj in fueraScope">
                {{ obj }}
            </li>
        </ul>
    
    </main>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/tpo.js"></script>
</body>
</html>